@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

/* Helpers */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root {
  --brand-color: #0a0a23;
  /* 10, 10, 35 */
  --complementary-color: #23230a;
  /* 35, 35, 10 */
  --baby-blue: #2ea6d1;
  /* 126, 200, 227 */
  --dark-gray: #a6a6a6;
  /* 166, 166, 166 */
  --bg-color: #ffffff;

  --default-font: "Albert Sans", sans-serif;
}

body {
  font-family: var(--default-font);
  text-align: center;
  color: var(--brand-color);
  background-color: var(--bg-color);
}
